## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/hhayati/Desktop/DS/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,69.26,59,86,20.42,overcast clouds
1,1,Teguise,ES,29.0605,-13.5640,61.02,82,20,9.22,few clouds
2,2,Makakilo City,US,21.3469,-158.0858,77.32,61,0,17.27,clear sky
3,3,Ushuaia,AR,-54.8000,-68.3000,42.46,93,75,2.30,broken clouds
4,4,Sucre,BO,-19.0333,-65.2627,49.71,80,0,4.21,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,69.26,59,86,20.42,overcast clouds
24,24,Albany,US,42.6001,-73.9662,65.88,79,49,5.17,scattered clouds
45,45,Praia,CV,14.9215,-23.5087,73.94,64,0,19.57,clear sky
53,53,San Cristobal,VE,7.7669,-72.2250,69.98,94,97,3.24,overcast clouds
58,58,Huilong,CN,31.8111,121.6550,66.92,74,100,14.43,moderate rain
88,88,Airai,TL,-8.9266,125.4092,72.00,68,77,2.30,broken clouds
89,89,Jamestown,US,42.0970,-79.2353,67.64,73,0,5.75,clear sky
94,94,Santa Isabel Do Rio Negro,BR,-0.4139,-65.0192,73.33,99,86,1.41,overcast clouds
95,95,Lexington,US,37.9887,-84.4777,67.33,63,49,10.07,scattered clouds
99,99,Porto Walter,BR,-8.2686,-72.7439,70.05,99,71,2.13,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                148
City                   148
Country                148
Lat                    148
Lng                    148
Max Temp               148
Humidity               148
Cloudiness             148
Wind Speed             148
Current Description    148
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.count()

City_ID                148
City                   148
Country                148
Lat                    148
Lng                    148
Max Temp               148
Humidity               148
Cloudiness             148
Wind Speed             148
Current Description    148
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,69.26,overcast clouds,-24.8667,113.6333,
24,Albany,US,65.88,scattered clouds,42.6001,-73.9662,
45,Praia,CV,73.94,clear sky,14.9215,-23.5087,
53,San Cristobal,VE,69.98,overcast clouds,7.7669,-72.2250,
58,Huilong,CN,66.92,moderate rain,31.8111,121.6550,
88,Airai,TL,72.00,broken clouds,-8.9266,125.4092,
89,Jamestown,US,67.64,clear sky,42.0970,-79.2353,
94,Santa Isabel Do Rio Negro,BR,73.33,overcast clouds,-0.4139,-65.0192,
95,Lexington,US,67.33,scattered clouds,37.9887,-84.4777,
99,Porto Walter,BR,70.05,broken clouds,-8.2686,-72.7439,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
#hotel_df

clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carnarvon,AU,69.26,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
45,Praia,CV,73.94,clear sky,14.9215,-23.5087,LT Aparthotel
53,San Cristobal,VE,69.98,overcast clouds,7.7669,-72.2250,Pirineos
58,Huilong,CN,66.92,moderate rain,31.8111,121.6550,Hilton Garden Inn Qidong
89,Jamestown,US,67.64,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
696,Ayagoz,KZ,74.30,scattered clouds,47.9714,80.4392,ХАН
699,Nampula,MZ,69.75,few clouds,-15.1165,39.2666,Ruby Backpackers
700,Afua,BR,73.89,overcast clouds,-0.1567,-50.3867,Hotel Dias
705,Changli,CN,69.60,few clouds,39.7042,119.1506,7Days Inn Qinhuangdao Changli Jieyang Street
706,Salym,RU,65.77,clear sky,60.0625,71.4789,Gostinitsa Salym

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))