## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/hhayati/Desktop/DS/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
1,9,Rikitea,PF,77.20,clear sky,-23.1203,-134.9692,People ThankYou
2,10,Marawi,PH,77.76,overcast clouds,7.9986,124.2928,Derogongan Residence
3,22,Itarema,BR,76.50,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
4,28,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Huntsville")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Huntsville")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Picayune")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Tallahassee")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "South Venice")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
55,255,Huntsville,US,72.19,clear sky,34.7304,-86.5861,Embassy Suites by Hilton Huntsville Hotel & Spa

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]
stop2

array([30.4383, -84.2807], dtype=object)

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
direction_layer = gmaps.directions_layer(start, end, waypoints= [stop1, stop2, stop3], travel_mode= 'DRIVING')
fig.add_layer(direction_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,255,Huntsville,US,72.19,clear sky,34.7304,-86.5861,Embassy Suites by Hilton Huntsville Hotel & Spa
1,595,Picayune,US,77.79,broken clouds,30.5255,-89.6795,Holiday Inn Express & Suites Picayune
2,590,Tallahassee,US,71.44,broken clouds,30.4383,-84.2807,Four Points by Sheraton Tallahassee Downtown
3,625,South Venice,US,73.15,overcast clouds,27.0531,-82.4243,"Island Sun Inn & Suites - Venice, Florida Hist..."

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))